[Desktop Entry]
Name=Secure Password CLI
Exec=$HOME/.local/share/secure-password-cli/secure-password-cli
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;